body {
    background-color: #E9E9E9;
    font-family: 'Denk One', sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: #4775EC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 40px;
    padding: 0 40px
}

header nav {
    font-size: 20px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 15px 45px 15px 15px;
}

header nav a.link4 {
    border: white solid 2px;
    padding: 15px;
    margin: 0;
    border-radius: 20px;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    text-align: center;
    color: #4775EC;
    margin-top: 100px;
    font-size: 100px;
}

main .wrapper {
    width: 500px;
    height: 900px;
    margin-bottom: 200px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
    box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4)
}

main .container {
    padding: 50px;
    color: #656989;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main .wrapper .container h3 {
    font-size: 40px;
    text-align: center;
}

.wrapper .container form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
}

.nome {
    padding: 10px;
}

.cpf {
    padding: 10px;
    margin-right: 15px;
}

.telefone {
    padding: 10px;
    margin-left: 10px;
}

.email {
    padding: 10px;
    margin-left: 10px;
}

.senha {
    padding: 10px;
}

.senha2 {
    padding: 10px;
}



input {
    width: 300px;
    height: auto;
    align-items: center;
    border-radius: 20px;
    border: solid cornflowerblue 2px;
}

.link {
    border: cornflowerblue solid 2px;
    border-radius: 20px;
    width: 200px;
    height: auto;
    background-color: cornflowerblue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;

}

.link2 {
    
    color: #4775EC;
    display: flex;
    padding: 70px 20px;
    
  
}

footer {
    width: 100%;
    height: 200px;
    background-color: #4775EC;
    display: flex;
    align-items: center;
    justify-content: end;
}

footer .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
}

footer p {
    color: white;
    font-size: 22px;
    text-align: center;
}

footer .social .socialicons {
    display: flex;
    justify-content: space-evenly;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 0 15px;
}