<footer>
    <div class='logo'>
        <h1>ShoppMatch</h1>
    </div>
    <div class=direitos>
        <div>
            <p>© 2021 - ShoppMatch Ltda - Todos os direitos reservados.</p>
        </div>
    </div>
    <div class='social'>
        <p>Siga nas redes socias:</p>
        <div class='socialicons'>
            <a href="https://www.instagram.com"><img src="/images/icons/instagram.png" alt="instagram" /></a>
            <a href="https://www.facebook.com"><img src="/images/icons/facebook.png" alt="facebook" /></a>
            <a href="https://www.youtube.com"><img src="/images/icons/youtube.png" alt="youtube" /></a>
        </div>
    </div>
</footer>
</body>

</html>