<footer>
    <div class='social'>
        <p>Siga nas redes socias:</p>
        <div class='socialicons'>
            <a href="https://www.instagram.com"><img src="../images/icons/instagram.png" alt="instagram" /></a>
            <a href="https://www.facebook.com"><img src="../images/icons/facebook.png" alt="facebook" /></a>
            <a href="https://www.youtube.com"><img src="../images/icons/youtube.png" alt="youtube" /></a>
        </div>
    </div>
</footer>
</body>

</html>