<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Denk+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ShoppMatch</title>
</head>

<body>
    <header>
        <div class='wrapper'>
            <div class='logo'>
                <a href="/">
                    <h1>ShoppMatch</h1>
                </a>
            </div>
            <div class='navegation'>
                <% if (!sessao.user) { %>
                    <a class="anunciar" href="#">Anunciar</a>
                    <a href="/cadastrar">Cadastra-se</a>
                    <a href="/login">Entrar</a>
                    <% } else { %>
                        <div class='avatar'>
                            <% if(sessao.user.avatar) { %>
                                <a href="/usuario/perfil/editar"><img src="<%= sessao.user.avatar.substr(8,500) %>" alt="avatar profile"></a>
                                <% } else { %>
                                    <img src="/images/icons/perfil.png" alt="avatar profile">
                                    <% } %>
                        </div>
                        <h1> Olá, <%= sessao.user.apelido %> !
                        </h1>
                        <a class='imagem' href="/usuario/carrinho"><img src="/images/icons/carrinho.png"
                                alt="carrinho"></a>
                        <a href="/logout">Sair</a>
                        <% } %>
            </div>
        </div>
    </header>