<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Denk+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>ShoppMatch - Home</title>
</head>

<body>
    <header>
        <div class='wrapper'>
            <div class='logo'>
                <h1>ShoppMatch</h1>
            </div>
            <div class=navegation>
                <nav>
                    <a href="#">Vender</a>
                    <a href="#">Cadastrar</a>
                    <a href="#">Entrar</a>
                    <a class="anunciar" href="#">Anunciar</a>
                </nav>
            </div>
        </div>
    </header>