<%- include('./partials/header') %>

    <main>
        <h2>ShoppMatch</h2>
        <div class="wrapper">
            <div class="container">
                <h3>Crie sua conta</h3>
                <div>
                    <form>
                        <div class="nome">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome">
                        </div>
                        <div class="cpf">
                            <label for="CPF">CPF:</label>
                            <input type="text" name="CPF" id="CPF">
                        </div>
                        <div class="telefone">
                            <label for="telefone">Telefone:</label>
                            <input type="tel" name="telefone" id="telefone">
                        </div>
                        <div class="email">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email">
                        </div>
                        <div class="senha">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha">
                        </div>
                        <div class="senha2">
                            <label for="senha">Repetir a senha:</label>
                            <input type="password" name="senha" id="senha">
                        </div>
                    </form>
                </div>
                <div>
                    <a class="link" href="#">Criar Conta</a>
                </div>
                <div>
                    <a class="link2" href="#"> Fazer Login </a>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>