<%- include('./partials/header') %>

    <main class='cadproduto'>
        <div class='principal'>
            <div class='compravenda'>
                <h1>VOCÊ DESEJA?</h1>
                <form>
                    <button>COMPRAR</button>
                    <button>VENDER</button>
                </form>
            </div>
            <div class='categorias'>
                <h1>QUAL CATEGORIA VOCÊ DESEJA COMPRAR/VENDER?</h1>
                <div class='escolhacategoria'>
                    <div class='categoria'>
                        <img src="/images/cadastro-produto/catroupa.png" alt="Vestuários">
                        <h2>ROUPAS E ACESSÓRIOS</h2>
                    </div>
                    <div class='categoria'>
                        <img src="/images/cadastro-produto/catcel.png" alt="Celulares">
                        <h2>TABLETS E CELULARES</h2>
                    </div>
                    <div class='categoria'>
                        <img src="/images/cadastro-produto/catinformatica.png" alt="Informática">
                        <h2>INFORMÁTICA E TECNOLOGIA</h2>
                    </div>
                    <div class='categoria'>
                        <img src="/images/cadastro-produto/catservicos.png" alt="Serviços">
                        <h2>SERVIÇOS</h2>
                    </div>
                </div>
            </div>
            <div class=novousado>
                <h1>O SEU PRODUTO É:</h1>
                <form class='escolha'>
                    <button>NOVO</button>
                    <button>USADO</button>
                </form>
            </div>
            <div class='nomeproduto'>
                <h1>QUAL O NOME DO PRODUTO/SERVIÇO?</h1>
                <form class='escolha' action="">
                    <input type="text">
                </form>
            </div>
            <div class='topicos'>
                <h1>CRIE ATRIBUTOS SOBRE O SEU PRODUTO COMO PREFERIR:</h1>
                <div class='topicosinput'>
                    <form action="">
                        <div>
                            <input type="text">
                            <input type="text">
                        </div>
                        <div>
                            <input type="text">
                            <input type="text">
                        </div>
                        <div>
                            <input type="text">
                            <input type="text">
                        </div>
                        <div class='adicionar'>
                            <button>+ ADICIONAR</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class='escolhavalor'>
                <h1>POR QUAL VALOR VOCÊ DESEJA COMPRAR/VENDER ESTE PRODUTO?</h1>
                <div class=escolha>
                    <div class=preco>
                        <label for="">PREÇO MÍNIMO</label>
                        <input type="number" placeholder="R$">
                    </div>
                    <div class=preco>
                        <label for="">PREÇO MÁXIMO</label>
                        <input type="number" placeholder="R$">
                    </div>
                </div>
            </div>
            <div class='fotodescricao'>
                <h1>ADICIONE UMA FOTO (OPCIONAL) E DESCRIÇÃO:</h1>
                <div class='uploadfoto'>
                    <div class='imgupload'>
                        <img src="/images/cadastro-produto/uploadimg.png" alt="">
                        <input type="file">
                    </div>
                    <div class='imgdescricao'>
                        <h1>DESCRIÇÃO:</h1>
                        <textarea type='text' name='mensagem' id='mensagem' maxlength='256'
                            placeholder='Mensagem'></textarea>
                    </div>
                </div>
            </div>
            <div>
                <button>CADASTRAR</button>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>