<%- include('./partials/header') %>

    <main>
        <div class="cadastrosucesso">
            <div class="container">
                <h3>
                    O e-mail <%= novoUsuario.email %> foi cadastrado com sucesso! <br><br>
                        Seja bem-vindo! <br> <br>
                        Clique no botão abaixo e comece agora a aproveitar a nossa plataforma
                </h3>
                <div>
                    <a href="/login">Login</a>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>