<%- include('./partials/header') %>

    <main>
        <content>
            <div class='matches'>
                <div class='cabecalho'>
                    <h2>Matches</h2>
                    <h2>Mensagens</h2>
                </div>
                <div class='conversas'>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div class='preinfo'>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div class='preinfo'>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                    <div class='contato'>
                        <div class='imgcontato'>
                            <img src="images/chat/userimgpng.png" alt="contato">
                        </div>
                        <div>
                            <div class='titulocontato'>
                                <h2>Sherlock Holmes, São Paulo - SP</h2>
                            </div>
                            <div class='preconversa'>
                                <span>Boa tarde, Sherlock! Gostaria de mais detalhe sobre o produto?</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='principal'>
                <div class='secao'>
                    <h2>Chat</h2>
                </div>
                <div class='conversaprincipal'>
                    <div class='cabecalho'>
                        <div class='leftarrow'>
                            <img src="images/chat/leftarrow.png" alt="Voltar">
                        </div>
                        <div class='userimg'>
                            <img src="images/chat/userimgpng.png" alt="Usuario">
                        </div>
                        <div class='nomeusuario'>
                            <p>Sherlock</p>
                        </div>
                    </div>
                    <div class='conversaatual'>
                        <div class='conversa'>
                            <div class='cliente'>
                                <span>Olá! Boa tarde</span>
                            </div>
                            <div class='usuario'>
                                <span>Boa tarde.</span>
                            </div>
                            <div class='cliente'>
                                <span>Gostaria de mais detalhes sobre o produto?</span>
                            </div>
                            <div class='usuario'>
                                <span>Sim. Sabe me dizer se ele possui arranhões, defeito e o tempo de uso?</span>
                            </div>
                            <div class='cliente'>
                                <span>Só utilizei uma vez. Porém como não sou adepto de café, estou colocando a venda
                                    para quem possui este gosto.</span>
                            </div>
                            <div class='usuario'>
                                <span>Legal. Eu sou fã de café! Vi que você é de São Paulo também. Consigo pegar o
                                    produto em mãos com você?</span>
                            </div>
                            <div class='cliente'>
                                <span>Mas é claro! Assim economizamos no frete, porém vou adicionar 5 reais a mais por a
                                    gasolina está muito cara, tudo bem? De qual região você é?</span>
                            </div>
                            <div class='usuario'>
                                <span>Moro aqui no Centro, perto da república. E você?</span>
                            </div>
                            <div class='cliente'>
                                <span>Perfeito. Moro aqui na Consolação. Posso entregar aí se você quiser.</span>
                            </div>
                            <div class='usuario'>
                                <span>Que maravilha. Perfeito!</span>
                            </div>
                            <div class='cliente'>
                                <span>Me fale o dia e o horário que combinamos a entrega.</span>
                            </div>
                            <div class='usuario'>
                                <span>Neste final de semana você estaria disponível?</span>
                            </div>
                            <div class='cliente'>
                                <span>Estou sim, neste fds é de boa.</span>
                            </div>
                            <div class='usuario'>
                                <span>Que maravilha. Consegue me entregar a tarde?</span>
                            </div>
                            <div class='cliente'>
                                <span>Em qual horário mais ou menos?</span>
                            </div>
                            <div class='usuario'>
                                <span>Pode ser após as 14h se der</span>
                            </div>
                            <div class='cliente'>
                                <span>Combinado então</span>
                            </div>
                            <div class='usuario'>
                                <span>Maravilha. No sábado nos falamos novamente.</span>
                            </div>
                            <div class='cliente'>
                                <span>Muito obrigado. Uma ótima semana para vc</span>
                            </div>
                            <div class='usuario'>
                                <span>Eu que agradeço. Para você também!</span>
                            </div>
                        </div>
                    </div>
                    <div class='digitando'>
                        <span>Digitando...</span>
                    </div>
                    <div class='mensagem'>
                        <form action="">
                            <input type="text" name='mensagem' placeholder="Digite a sua mensagem...">
                            <button type="submit"><img src="images/chat/send.png" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class='dados'>
                <div class='imgvendedor'>
                    <img src="images/chat/userimgpng.png" alt="Vendedor">
                </div>
                <div class='dados'>
                    <div class='titulo'>
                        <h2>Dados do Vendedor</h2>
                    </div>
                    <div class='info'>
                        <div class='nome'>
                            <h3>Nome:</h3>
                            <span>Sherlock Holmes</span>
                        </div>
                        <div class='idade'>
                            <h3>Idade:</h3>
                            <span>25</span>
                        </div>
                        <div class='descricao'>
                            <h3>Descrição:</h3>
                            <span>Um jovem empreendedor em busca do sucesso!</span>
                        </div>
                        <div class='reputacao'>
                            <h2>93%</h2>
                            <span>dos seus compradores o recomendam.</span>
                        </div>
                        <div class='detalhes'>
                            <button>Mais detalhes</button>
                        </div>
                    </div>
                </div>
            </div>
        </content>
    </main>

    <%- include('./partials/footer') %>