<%- include('./partials/header') %>

    <main>
        <content class="comprar">
            <div class='card-menu'>
                <div class='cabecalho'>
                    <h2>Produtos</h2>
                    <h3>Preferencias</h3>
                </div>
                <div class='opcoesprodutos'>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                    <div class='cardproduto'>
                        <img src="/images/comprar/canequinha.png" alt="produto">
                        <div class='descricaoproduto'>
                            <p>Caneca</p>
                            <p>Preço: R$ 10,00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class='produtoescolhido'>
                <div class='produto-principal'>
                    <img src="/images/icons/leftarrow.png" alt="seta esquerda">
                    <img class='produtosimagens' src="/images/comprar/canequinha.png" alt="produto principal">
                    <img src="/images/icons/rightarrow.png" alt="seta direita">
                </div>
                <div class='escolher'>
                    <img src="/images/icons/accept.png" alt="aceitar">
                    <img src="/images/icons/decline.png" alt="recusar">
                </div>
                <div class='descricao'>
                    <h2>Descrição:</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut libero placeat velit, dicta
                        sapiente
                        sequi laboriosam. Est, nulla! Provident minima eligendi cumque reiciendis aspernatur labore
                        velit cupiditate nihil ipsa temporibus.</p>
                </div>
            </div>
        </content>
    </main>


    <%- include('./partials/footer') %>