<%- include('./partials/header') %>

    <main class='contato'>
        <div class="contato">

            <div class="contatowrapper">
                <div class="contatocontainer">

                    <div class="contatotitulo">

                        <h2 class="titulo">Contato</h2>

                    </div>

                    <p> <strong>E-mail:</strong> shoppmatch@shoppmatch.com.br</p>
                    <p> <strong>SAC: </strong> (11)0800-3235 </p>
                    <p> Whatsapp </p>
                    <a class="whatsapp" href="#"><img src="../images/contato/whatsapp .png" /></a>

                    <div class="linkchat">
                        <a class="botao" href="#"> Iniciar Chat </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>