<%- include('./partials/header') %>

<main>
    <div class="wrapper">
        <div class="container">
            <h2>Contato</h2>
            <p> <strong>E-mail:</strong> shoppmatch@shoppmatch.com.br</p>
            <p> <strong>SAC: </strong> (11)0800-3235 </p>
            <p> Whatsapp </p>
            <a class="whatsapp" href="#"><img src="../images/contato/whatsapp .png" alt="whatsapp" /></a>
            <div class="linkchat">
                <a href="#"> Iniciar Chat </a>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>