<%- include('./partials/header') %>

    <main class='edicao-principal'>
        <div class='edicao-perfil'>
            <form action="" method="POST">
                <div class='upload'>
                    <img src="/images/edicao-perfil/uploadperfil.png" alt="">
                    <input type='file'>
                </div>
                <div class='campo'>
                    <label for="nome">Nome:</label>
                    <input type="text" id='nome' name='nome'>
                </div>
                <div class='campo'>
                    <label for="cpf">CPF:</label>
                    <input type="text" id='cpf' name='cpf'>
                </div>
                <div class='campo'>
                    <label for="cep">CEP:</label>
                    <input type="text" id='cep' name='cep'>
                </div>
                <div class='campo'>
                    <label for="telefone">Telefone:</label>
                    <input type="text" id='telefone' name='telefone'>
                </div>
                <div class='campo'>
                    <label for="endereco">Endereço:</label>
                    <input type="text" id='endereco' name='endereco'>
                </div>
                <div class='campo'>
                    <label for="genero">Genêro:</label>
                    <input type="text" id='genero' name='genero'>
                </div>
                <div class='campo'>
                    <label for="cep">Número:</label>
                    <input type="text" id='numero' name='numero'>
                </div>
                <div class='campo'>
                    <label for="nascimento">Data de nascimento:</label>
                    <input type="text" id='nascimento' name='nascimento'>
                </div>
                <div class='campo'>
                    <label for="complemento">Complemento:</label>
                    <input type="text" id='complemento' name='complemento'>
                </div>
                <div class='campo'>
                    <label for="email">Alterar e-mail:</label>
                    <input type="text" id='email' name='email'>
                </div>
                <div class='campo'>
                    <label for="cidade">Estado:</label>
                    <input type="text" id='cidade' name='cidade'>
                </div>
                <div class='campo'>
                    <label for="senha">Alterar senha:</label>
                    <input type="text" id='senha' name='senha' placeholder="Pelo menos 6 dígitos">
                </div>
                <div class='campo'>
                    <label for="cidade">Cidade:</label>
                    <input type="text" id='cidade' name='cidade'>
                </div>
                <div class='campo'>
                    <label for="confirmarsenha">Digite novamente a sua senha:</label>
                    <input type="text" id='confirmarsenha' name='confirmarsenha' placeholder="Pelo menos 6 dígitos">
                </div>
                <div class='novidades'>
                    <p>Deseja receber promoções e novidades regularmente?</p>
                    <input type="checkbox">
                </div>
                <div class='submit'>
                    <button type="submit">Salvar alterações</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>