<%- include('./partials/header') %>

<main>

    <div class="pai-flexbox">
        <div class="wrapperboxbranco"> 

            <div class="containeresquerdo">
                <div class="titulo1">
                    <h3 class="titulo1-1">
                        Cadastrar novo endereço
                    </h3>
                </div>

                <div class="formularioend">
                    <form class="formulario-end">
                        <div class="rua">
                            <label for="rua">Rua:</label>
                            <input type="text" name="rua" id="rua" placeholder="Rua">
                        </div>

                        <div class="Numero">
                            <label for="numero">Numero:</label>
                            <input type="text" name="numero" id="numero" placeholder="Numero">
                        </div>

                        <div class="cep">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" id="cep" placeholder="CEP">
                        </div>

                        <div class="bairro">
                            <label for="bairro">Bairro:</label>
                            <input type="text" name="rua" id="rua" placeholder="Bairro">
                        </div>

                        <div class="estado">
                            <label for="estado">Estado:</label>
                            <input type="text" name="cidade" id="estado" placeholder="estado">
                        </div>

                        <div class="cidade">
                            <label for="cidade">Cidade:</label>
                            <input type="text" name="cidade" id="cidade" placeholder="Cidade">
                        </div>

                        <div class="complemento">
                            <label for="cidade">Complemento:</label>
                            <input type="text" name="complemento" id="complemento" placeholder="complemento">
                        </div>
                    </form>
                </div>

                <div class="botaocontinuar">
                    <div class="botao-continuar">
                        <a class="botaocont" href="#"> Continuar</a>
                    </div>
                </div>
            </div>
              
            <div class="containerdireito">
                <div class="titulo2">
                    <h3 class="titulo2-1"> 
                        Endereços cadastrados
                    </h3>

                    <div class="box ">

                        <div class="box1">
                             
                            <div class="end">
                                <p>Rua: xxxxxxx Bairro: xxxxxxxx  N: 00</p>
                                <p> Cep: 000000-0000  Cidade: XXXX Estado: XXXXX</p>
                            </div>

                                <div class="botoes">
                                    <div>
                                        <a class="botaoeditar" href="#"> Editar </a>
                                    </div>

                                    <div>
                                        <a class="botaoexcluir" href="#"> Excluir </a>
                                    </div>

                                    <form>
                                        <input type="radio" name="opção1" value="opção1">
                                    </form>
                                </div>
                        </div>
    
                        <div class="box2">
                            <div class="end">
                                
                                <p>Rua: xxxxxxx Bairro: xxxxxxxx  N: 00</p>
                                <p> Cep: 000000-0000  Cidade: XXXX Estado: XXXXX</p>
                                </div>

                                <div class="botoes">
                                    <div>
                                        <a class="botaoeditar" href="#"> Editar </a>
                                    </div>

                                    <div>
                                        <a class="botaoexcluir" href="#"> Excluir </a>
                                    </div>

                                    <form>
                                        <input type="radio" name="opção2" value="opção2">
                    
                                    </form>
                                </div>
                            
                            
                            
                        </div>
    
                        <div class="box3">
                                <div class="end">
                                
                                   <p>Rua: xxxxxxx Bairro: xxxxxxxx  N: 00</p>
                                    <p> Cep: 000000-0000  Cidade: XXXX Estado: XXXXX</p>
                               </div>

                                <div class="botoes">
                                    <div>
                                        <a class="botaoeditar" href="#"> Editar </a>
                                    </div>

                                    <div>
                                        <a class="botaoexcluir" href="#"> Excluir </a>
                                    </div>

                                    <form>
                                        <input type="radio" name="opção3" value="opção3">
                    
                                    </form>
                                </div>
                             
                        </div>

                        <div class="botaocontinuar1">
                            <div class="botao-continuar1">
                                <a class="botaocont1" href="#"> Continuar</a>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>

        </div>
    </div>
 
</main>



<%- include('./partials/footer') %>