<%- include('./partials/header') %>

<main>
    <div class="wrapper">
        <div class="container">
            <h3>Acessar</h3>
            <div>
                <form>
                    <div class="usuario">
                        <label for="usuario">Usuario:</label>
                        <input type="text" name="nome" id="nome">
                    </div>
                    <div class="senha">
                        <label for="senha"> Senha:</label>
                        <input type="password" name="senha" id="senha">
                    </div>
                </form>
            </div>
            <div>
                <a class="link" href="#">Login</a>
            </div>
            <div>
                <a class="link2" href="#"> Esqueceu sua senha? </a>
            </div>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>