<%- include('./partials/header') %>

    <main>
        <div class="login">
            <div class="container">
                <h3>Acessar</h3>
                <div>
                    <form action='/login' method="POST">
                        <div class="formlogin">
                            <input type="email" name="email" id="email" placeholder="E-mail">
                            <input type="password" name="senha" id="senha" placeholder="Senha">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                </div>
                <div class="recuperacao">
                    <a href="#"> Esqueceu sua senha? Recupere aqui! </a>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>