<%- include('./partials/header') %>

<main>

    <div class="pedidos">
        <div class="wrapper-box">

            <div class="titulopedido">
                <h2 class="titulopedido1">
                    Meus pedidos
                </h2>

                <form class="search">

                    <div class="busca">
                        <label for="busca"> <img src=""/>  </label>
                        <input type="text" name="busca" id="busca" placeholder="pesquisar...">
                    </div>

                </form>
            </div>
             
          
            <div class="box-1">

                <div class="boxphoto">
                    <img src="/images/pedidos/caneca.jpg"/>
                </div>

                <div class=" textos">
                  <a href="#"> 
                      <h3 class="titulobox1">  Caneca preta simples </h3> 
                 </a>

                   <div class="descricao">
                        <p>pedido: 02-869324032</p>
                        <p> Vendido por: XXXXXXXXXX e entregue por:  ShoppMatch </p>
                   </div>

                    <div class="botaopedidos"> 
                        <div class="botao-box1">
                            <a class="botaobox1" href="#"> Trocar ou devolver </a>
                        </div>
    
                        
                        <div class="botao-box1">
                            <a class="botaobox1" href="#"> Acompanhar envio </a>
                        </div>
                        
                        <div class="botao-box1">
                          <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="box-2">
                <div class="boxphoto">
                    <img src="/images/pedidos/iphone13.jpg"/>
                </div>

                <div class=" textos">
                    <a href="#"> 
                        <h3 class="titulobox2"> Apple iPhone 13 Pro Max (256GB) - Grafite</h3> 
                    </a>

                    <div class="descricao">
                        <p>pedido: 02-869324032</p>
                        <p> Vendido por: XXXXXXXXXX e entregue por:  ShoppMatch </p>
                   </div>

                   <div class="botaopedidos"> 
                     <div class="botao-box1">
                        <a class="botaobox1" href="#"> Trocar ou devolver </a>
                     </div>

                    
                     <div class="botao-box1">
                        <a class="botaobox1" href="#"> Acompanhar envio </a>
                     </div>
                    
                     <div class="botao-box1">
                      <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                     </div>
                   </div>    
                </div>        
            </div>

            <div class="box-3">

                <div class="boxphoto">
                    <img src="/images/pedidos/war.jpg"/>
                </div>

                <div class=" textos">
                    <a href="#"> 
                        <h3 class="titulobox3"> Jogo de Tabuleiro WAR</h3> 
                    </a> 
                    
                    <div class="descricao">
                        <p>pedido: 02-869358632</p>
                        <p> Vendido por: XXXXXXXXXX e entregue por:  ShoppMatch </p>
                   </div>
                   <div class="botaopedidos"> 
                     <div class="botao-box1">
                        <a class="botaobox1" href="#"> Trocar ou devolver </a>
                     </div>

                    
                     <div class="botao-box1">
                        <a class="botaobox1" href="#"> Acompanhar envio </a>
                     </div>
                    
                     <div class="botao-box1">
                      <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                     </div>
                   </div>
                </div>
            </div>


            <div class="box-4">
                <div class="boxphoto">
                    <img src="/images/pedidos/whisky.jpg"/>
                </div>

                <div class=" textos">
                    <a href="#"> 
                        <h3 class="titulobox4"> Whisky Johnnie Walker Red Label 750ml</h3> 
                    </a>
                    <div class="descricao">
                        <p>pedido: 02-866529932</p>
                        <p> Vendido por: XXXXXXXXXX e entregue por:  ShoppMatch </p>
                   </div>

                   <div class="botaopedidos"> 
                     <div class="botao-box1">
                        <a class="botaobox1" href="#"> Trocar ou devolver </a>
                     </div>

                    
                     <div class="botao-box1">
                        <a class="botaobox1" href="#"> Acompanhar envio </a>
                     </div>
                    
                     <div class="botao-box1">
                      <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                     </div>
                   </div>
                </div>
            </div>

            <div class="box-5">

                <div class="boxphoto">
                    <img src="/images/pedidos/violao.jpg"/> 
                </div>

                    <div class=" textos">
                        <a href="#"> 
                            <h3 class="titulobox5"> Violão Giannini Acústico Nylon Start N-14 Natura</h3> 
                        </a> 
                        <div class="descricao">
                            <p>pedido: 02-86935032</p>
                            <p> Vendido por: XXXXXXXXXX e entregue por:  ShoppMatch </p>
                       </div> 

                       <div class="botaopedidos"> 
                        <div class="botao-box1">
                            <a class="botaobox1" href="#"> Trocar ou devolver </a>
                        </div>
    
                        
                        <div class="botao-box1">
                            <a class="botaobox1" href="#"> Acompanhar envio </a>
                        </div>
                        
                        <div class="botao-box1">
                          <a class="botaobox1" href="#"> Preciso de Ajuda </a>
                        </div>
                    </div>
                </div>  
            </div>   

            <div class="meuspedidosbotao">
                <a class="linkpedidos" href="#"> Mais pedidos </a>
            </div>
           
        </div>
    </div>

</main>


<%- include('./partials/footer') %>