
<%- include('./partials/header') %>

<main>
 
    <div class="recuperar">
        <div class="wrapper-box">
            <div class="container-itens">
                <div class="titulorec">
                    <div>
                        <h2> Recuperar senha </h2>
                    </div>

                    <div>
                        <form class="formulariorec">
                            <div class="senha">
                                <label for="senha">nova senha:</label>
                                <input type="password" name="senha" id="senha">
                            </div>

                            <div class="senha">
                                <label for="senha">repetir senha:</label>
                                <input type="password" name="senha" id="senha">
                            </div>

                         
                        </form>

                        <div class="botao-confirmar"> 
                            <div class="confirmar">
                               <a class="botaoconf" href="#"> Confirmar </a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

 </div>


</main>

<%- include('./partials/footer') %>