@import url("https://fonts.googleapis.com/css2?family=Denk+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Denk One", sans-serif;
}
body {
  background-color: #ebebeb;
}
.container {
  width: 1200px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Header*/
.header-main {
  width: 100%;
  background: linear-gradient(
    269.63deg,
    #4775ec 49.68%,
    rgba(34, 91, 238, 0.67) 74.69%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-body .logo {
  width: 147px;
  height: 32px;
}
.header-body ul {
  display: flex;
  align-items: center;
}
.header-body li {
  list-style: none;
  padding-left: 20px;
}
.header-body a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: 300ms;
}
.header-body span {
  margin-top: 90px;
  margin-left: 20px;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile a {
  margin-left: 5px;
}
.seta {
  margin-left: 5px;
}
.img-profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.btn {
  padding: 10px 7px;
  border: 2px solid #fff !important;
  border-radius: 9px;
}
/*Card*/
.card {
  margin-top: 95px;
  display: block;
}
.card h2 {
  font-size: 36px;
  color: #656989;
  margin-bottom: 40px;
}
.card-head ul {
  display: flex;
}
.card-head li {
  list-style: none;
}
.card-head li:nth-child(1) {
  margin-right: 330px;
}
.card-head li:nth-child(2) {
  margin-right: 60px;
  margin-left: 35px;
}
.card-head::after {
  content: "";
  display: block;
  max-width: 650px;
  height: 1px;
  background-color: #368dd6;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-body {
  display: flex;
  max-width: 650px;
  margin: 0;
}
.card-info-produto {
  margin-left: 70px;
}
.card-info-produto h3 {
  color: rgba(0, 0, 0, 0.51);
  font-size: 24px;
  margin-bottom: 20px;
}
.card-info-produto p {
  width: 108px;
  height: 42px;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.51);
}
.card-info-preco {
  background-color: #fff;
  width: 149px;
  height: 38px;
}
.card-info-preco {
  margin-top: 70px;
}
.card-info-preco span {
  margin: 0 30px;
}
.icon-max {
  margin-top: 10px;
}
.icon-min {
  margin-left: 10px;
  margin-bottom: 9px;
}
.card-info-preco {
  margin-top: 80px;
  margin-left: 30px;
}
.card-calc-frente::before {
  content: "";
  display: block;
  width: 650px;
  height: 1px;
  background-color: #368dd6;
  margin-top: 20px;
  margin-bottom: 40px;
}
.card-pagamento {
  background-color: #fff;
  max-width: 370px;
  height: 420px;
  position: relative;
  left: 55%;
  bottom: 99px;
}

.card-pagamento p {
  color: rgba(0, 0, 0, 0.51);
}

.card-pagamento h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.51);
}

.card-pagamento h3::after {
  content: "";
  display: block;
  width: 115px;
  height: 1px;
  margin: 0 auto;
  background-color: #368dd6;
  margin-top: 10px;
}
.card-info-1 {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
.card-info-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  margin-bottom: 15px;
}
.card-pagamento .row::after {
  content: "";
  display: block;
  width: 350px;
  height: 1px;
  background-color: #368dd6;
  margin: 0 auto;
}
.card-total {
  display: block;
  padding: 10px 15px;
}
.card-total span {
  float: left;
}
.card-preco {
  font-size: 18px !important;
}
.card-total p {
  float: right;
  font-size: 12px;
}
.card-total::after {
  content: "";
  display: block;
  width: 350px;
  height: 1px;
  background-color: #368dd6;
  margin: 0 auto;
}
.card-btn {
  width: 315px;
  height: 45px;
  margin: 110px auto;
}
button.card-btn {
  display: flex;
  width: 315px;
  height: 45px;
  justify-content: center;
  align-items: center;
  background-color: #4775ec;
  color: #fff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
/*calcular frete*/
.card-calc-frente h5 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.51);
}
.card-calc-frente input {
  width: 260px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.51);
  text-align: left;
  padding-left: 2px;
}
.card-calc-frente button {
  width: 70px;
  height: 45px;
  color: #fff;
  background-color: #368dd6;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
.card-calc-frente input:focus {
}
