* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background-color: #e9e9e9;
	font-family: "Denk One", sans-serif;
}

header {
	width: 100%;
	height: 10vh;
	background-color: #4775ec;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	color: white;
	font-size: 40px;
	padding: 0 40px;
}

header nav {
	font-size: 20px;
	margin-right: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

header nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	margin: 15px 45px 15px 15px;
}

header nav a.link4 {
	border: white solid 2px;
	padding: 15px;
	margin: 0;
	border-radius: 20px;
}

main content {
	display: flex;
	justify-content: space-between;
	color: #656989;
	height: 77.5vh;
}

content .matches {
	display: flex;
	flex-direction: column;
}

content .matches .cabecalho {
	display: flex;
	justify-content: space-around;
	border: 1px solid #368dd6;
	border-right: none;
}

content .matches .cabecalho h2 {
	border-left: 1px solid #368dd6;
	width: 100%;
	text-align: center;
	padding: 10px;
}

content .matches .conversas {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

content .matches .conversas .contato {
	display: flex;
	border: 1px solid #368dd6;
	border-top: 0;
	padding: 10px 0;
	transition: 1s;
}

content .matches .conversas .contato:hover {
	background-color: #8b8b8b;
}

content .matches .conversas .contato .imgcontato {
	display: flex;
	align-items: center;
	justify-content: center;
}

content .matches .conversas .contato img {
	width: 75%;
}

content .matches .conversas .contato .titulocontato {
	font-size: 12px;
}

content .matches .conversas .contato .preconversa {
	font-size: 14px;
	padding: 15px 15px 15px 0px;
}

content .principal {
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 1px solid #368dd6;
	flex-grow: 1;
}

content .principal .secao h2 {
	text-align: center;
	border-bottom: 1px solid #368dd6;
	padding: 10px;
	font-size: 24px;
}

content .principal .conversaprincipal {
	display: flex;
	flex-direction: column;
}

content .principal .conversaprincipal .cabecalho {
	display: flex;
	background-color: rgb(136, 175, 219);
	color: white;
	align-items: center;
	height: 60px;
}

content .principal .conversaprincipal .cabecalho .leftarrow img {
	margin-left: 15px;
	width: 50%;
	cursor: pointer;
}

content .principal .conversaprincipal .cabecalho .userimg img {
	width: 40%;
}

content .principal .conversaprincipal .cabecalho .nomeusuario {
	text-align: center;
	width: 76.5%;
	align-self: center;
	justify-content: center;
	font-size: 24px;
}

content .principal .conversaprincipal .cabecalho .nomeusuario {
	padding-right: 190px;
}

content .principal .conversaprincipal .conversaatual {
	height: 32.5rem;
	overflow: auto;
}

content .principal .conversaprincipal .conversaatual .conversa {
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
	margin: 0;
}

content .principal .conversaprincipal .conversaatual div {
	margin: 7.5px 0;
}

content .principal .conversaprincipal .conversaatual .cliente {
	background-color: #9ab2f1;
	color: white;
	padding: 10px;
	border-radius: 20px;
	align-self: flex-end;
	text-align: right;
	max-width: 80%;
}

content .principal .conversaprincipal .conversaatual .usuario {
	background-color: #4775ec;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	align-self: flex-start;
	text-align: left;
	max-width: 80%;
}

content .principal .conversaprincipal .digitando {
	margin: 10px 0;
	padding-left: 40px;
	font-size: 18px;
}

content .principal .conversaprincipal .mensagem {
	margin: 5px 20px;
}

content .principal .conversaprincipal .mensagem form {
	display: flex;
}

content .principal .conversaprincipal .mensagem input {
	border-radius: 20px;
	border: 1px solid #c4c4c4;
	padding: 7.5px 0 7.5px 20px;
	font-size: 18px;
	width: 95%;
	font-family: "Denk One", sans-serif;
	margin-bottom: 5px;
}

content .principal .conversaprincipal .mensagem button {
	border: none;
	background-color: none;
	color: none;
	padding: 0;
	width: 5px;
	margin-left: 15px;
}

content .principal .conversaprincipal .mensagem button img {
	padding: 0;
	width: 40px;
}

content .dados {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

content .dados .imgvendedor {
	display: flex;
	justify-content: center;
	margin: 10px;
}

content .dados .imgvendedor img {
	width: 70%;
}

content .dados .titulo {
	margin: 10px;
	text-align: center;
}

content .dados .info {
	background-color: #c4c4c4;
	color: #656989;
	width: 80%;
	align-self: center;
	border-radius: 20px;
	padding: 20px;
}

content .dados .info .nome {
	margin-bottom: 15px;
}

content .dados .info .idade {
	margin: 15px 0;
}

content .dados .info .descricao {
	margin: 15px 0;
}

content .dados .info .reputacao {
	margin: 15px 0;
	display: flex;
	background-color: #ebebeb;
	border-radius: 20px;
	padding: 15px;
}

content .dados .info .reputacao h2 {
	font-size: 28px;
	margin: 0 15px 0 30px;
}

content .dados .info .reputacao span {
	font-size: 14px;
	margin-right: 30px;
}

content .dados .info .detalhes button {
	border: none;
	background-color: #4775ec;
	color: white;
	padding: 10px 15px;
	width: 100%;
	border-radius: 20px;
	font-family: "Denk One", sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: 1s;
}

content .dados .info .detalhes button:hover {
	background-color: white;
	color: #4775ec;
}

footer {
	width: 100%;
	height: 12.5vh;
	background-color: #4775ec;
	display: flex;
	align-items: center;
	justify-content: end;
}

footer .social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 50px;
}

footer p {
	color: white;
	font-size: 22px;
	text-align: center;
}

footer .social .socialicons {
	display: flex;
	justify-content: space-evenly;
}

footer img {
	width: 50px;
	height: 50px;
	margin: 0 15px;
}
