

main .solicitacaosenha {
    display: flex;
    flex-direction: column;
    align-items: center;
 
 }
 
 main .solicitacaosenha .wrapperbox {
    width: 1000px;
    height: 500px;
    margin: 200px;
    background-color: white;
    display: flex;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
    box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4)
 }

 main .solicitacaosenha .wrapperbox .containeritens {
    padding: 50px;
    color: #656989;
    font-size: 20px;
    text-align: center;
 }

 main .solicitacaosenha .wrapperbox .containeritens .titulo .titulo2 {
     font-size: 40px;
     text-align: center;
 }

 main .solicitacaosenha .wrapperbox .containeritens .paragrafo {

    margin: 40px;
 }

 main .solicitacaosenha .wrapperbox .containeritens .botoes {

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
 }

 .linkchat {

    border: cornflowerblue solid 2px;
    border-radius: 20px ;
    width: 200px;
    height: auto;
    background-color:cornflowerblue;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
    margin-top: 60px;

 }

 .linkchat2 {

    border: cornflowerblue solid 2px;
    border-radius: 20px ;
    width: 200px;
    height: auto;
    background-color:cornflowerblue;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
    margin-top: 60px;

 }

 main .botao{

    text-align: center;
    text-decoration: none;
    color:white;
 }

 main .botao2 {

    text-align: center;
    text-decoration: none;
    color: white;

 }
