/* HEADER */

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

html {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 62.5%;
	max-width: 100%;
}

body {
	background-color: #e9e9e9;
	font-family: "Denk One", sans-serif;
	font-size: 62.5%;
	max-width: 100%;
}

header {
	background-color: #4775ec;
	width: 100vw;
	max-width: 100%;
	color: white;
	padding: 0 5%;
	position: sticky;
	top: 0;
	display: inline-block;
}

header .wrapper {
	height: 11vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header .wrapper .logo a {
	text-decoration: none;
	color: white;
}

header .wrapper .logo h1 {
	font-size: 3.2rem;
}

header .wrapper navegation nav {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

header .wrapper nav a {
	text-decoration: none;
	color: white;
	font-size: 1.8rem;
	margin: 15px 30px 15px 15px;
}

header .wrapper nav a.anunciar {
	border: white solid 2px;
	padding: 12px;
	margin: 0;
	border-radius: 50px;
}

/* PÁGINA CADASTRO PRODUTO */

main.cadproduto {
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #656989;
	display: flex;
	align-items: center;
	justify-content: center;
}

main.cadproduto .principal {
	margin: 10% 15%;
	background-color: white;
	border-radius: 50px;
	padding: 2.5% 0;
	display: flex;
	flex-direction: column;
	width: 70%;
	border: #9ab2f1 1px solid;
}

.principal .compravenda h1 {
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

main.cadproduto .principal button,
main.cadproduto .principal input {
	text-align: center;
	background: none;
	border: 1px solid;
	border-radius: 50px;
	box-shadow: 0;
	font-size: 1.8rem;
	width: 15rem;
	padding: 0.5rem 0rem;
	color: #656989;
	font-family: "Denk One", sans-serif;
	transition: 1s;
	margin: 2rem 5rem;
}

main.cadproduto .principal button:hover {
	background: #656989;
	color: #e9e9e9;
}

main.cadproduto .principal .categorias h1 {
	font-size: 2.4rem;
	margin: 2rem 0 4rem 0;
}

main.cadproduto .principal .escolhacategoria {
	display: flex;
	align-items: baseline;
}

main.cadproduto .principal .escolhacategoria .categoria {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0 1.5rem;
	width: 100%;
}

main.cadproduto .principal .escolhacategoria .categoria img {
	width: 100%;
}

main.cadproduto .principal .escolhacategoria .categoria h2 {
	margin: 3rem 0;
	font-size: 2rem;
}

main.cadproduto .principal .novousado h1 {
	font-size: 2.4rem;
	margin: 1rem 0 1rem 0;
}

main.cadproduto .nomeproduto h1 {
	font-size: 2.4rem;
	margin: 1rem 0 1rem 0;
}

main.cadproduto .nomeproduto input {
	width: 35%;
}

main.cadproduto .principal .topicos h1 {
	font-size: 2.4rem;
	margin: 1rem 0 2rem 0;
}

main.cadproduto .topicos .topicosinput form {
	display: flex;
	flex-direction: column;
}

main.cadproduto .topicos .topicosinput form div {
	display: flex;
	justify-content: space-evenly;
}

main.cadproduto .topicos .topicosinput form div input {
	margin: 0.5rem;
	text-align: left;
	padding-left: 2rem;
	width: 35%;
}

main.cadproduto .topicos .topicosinput .adicionar button {
	margin: 0.5rem 0 2rem 0;
}

main.cadproduto .escolhavalor h1 {
	font-size: 2.4rem;
}

main.cadproduto .escolhavalor .escolha {
	display: flex;
	justify-content: center;
}

main.cadproduto .escolhavalor .escolha .preco {
	display: flex;
	width: 50%;
	align-items: center;
}

main.cadproduto .escolhavalor .escolha .preco label {
	font-size: 1.6rem;
	width: 35%;
}

main.cadproduto .escolhavalor .escolha .preco input {
	width: 50%;
	height: 4rem;
	text-align: left;
	padding: 0 1rem 0 2rem;
	box-shadow: 0;
	margin: 3rem 0 3rem 1rem;
}

main.cadproduto .fotodescricao {
	margin-bottom: 2rem;
}

main.cadproduto .fotodescricao h1 {
	font-size: 2.4rem;
	margin-bottom: 3rem;
}

main.cadproduto .fotodescricao .uploadfoto {
	display: flex;
	align-items: center;
	justify-content: center;
}

main.cadproduto .fotodescricao .uploadfoto .imgupload {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main.cadproduto .fotodescricao .uploadfoto .imgupload img {
	align-self: center;
	margin-top: 3rem;
	width: 50%;
	height: 50%;
}

main.cadproduto .fotodescricao .uploadfoto .imgupload input {
	font-size: 1.4rem;
	color: #656989;
	font-family: "Denk One", sans-serif;
	border: none;
	border-radius: 0;
	margin: 1rem 0 0 0;
	width: 100%;
}

main.cadproduto .fotodescricao .uploadfoto .imgdescricao {
	text-align: left;
	margin-left: 8rem;
}

main.cadproduto .fotodescricao .uploadfoto .imgdescricao h1 {
	font-size: 2.2rem;
}

main.cadproduto .fotodescricao .uploadfoto .imgdescricao textarea {
	margin-top: 1rem;
	width: 35rem;
	height: 15rem;
	font-size: 1rem;
	border-radius: 2.5rem;
	padding: 1rem;
	color: #656989;
	font-family: "Denk One", sans-serif;
	font-size: 1.8rem;
}

/* PAGINA CADASTRO USUARIO */

main .cadusuario {
	display: flex;
	text-align: center;
	justify-content: center;
}

main .cadusuario .wrapper {
	margin: 5rem 0;
	display: flex;
	width: 30%;
	background-color: white;
	border-radius: 50px;
	-webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	padding: 50px;
	color: #656989;
	font-size: 2rem;
	text-align: center;
	flex-direction: column;
}

main .cadusuario .wrapper h3 {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 2rem;
}

main .cadusuario .wrapper form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main .cadusuario .wrapper form .campo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 3rem;
	margin: 0.5rem 0;
}

main .cadusuario .wrapper form .campo label {
	align-self: flex-start;
	font-size: 1.6rem;
	margin-bottom: 0.2rem;
}

main .cadusuario .wrapper form .campo input {
	width: 100%;
	align-self: flex-start;
	border-radius: 30px;
	border: 1px #a5a5a5 solid;
	padding: 0.3rem 0 0.3rem 1rem;
	font-size: 1.6rem;
	color: #656989;
	font-family: "Denk One", sans-serif;
}

main .cadusuario .wrapper form button {
	border: cornflowerblue solid 2px;
	border-radius: 20px;
	background-color: cornflowerblue;
	text-align: center;
	padding: 0.75rem 4rem;
	width: 65%;
	color: white;
	font-family: "Denk One", sans-serif;
	margin-top: 3rem;
	font-size: 2rem;
	cursor: pointer;
}

main .cadusuario .login a {
	color: #4775ec;
	margin: 3rem 0 1rem 0;
}

/* PÁGINA DO CARRINHO */

main .carrinho {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-size: 2rem;
	color: #656989;
	margin: 5% 4%;
}

main .carrinho .card {
	display: grid;
	grid-template-columns: 4fr 2.8fr 2.8fr 2.8fr;
	grid-template-rows: 1fr 0.7fr 2.5fr 0.7fr;
	width: 50%;
}
main .carrinho .card h2 {
	margin-left: 2rem;
	font-size: 3rem;
	grid-column: 1/5;
	grid-row: 1/2;
	align-self: center;
}
main .carrinho .produto {
	grid-column: 1/3;
	grid-row: 2/3;
	align-self: center;
	justify-self: center;
}
main .carrinho .quantidade {
	grid-column: 3/4;
	grid-row: 2/3;
	justify-self: center;
	align-self: center;
}
main .carrinho .preco {
	grid-column: 4/5;
	grid-row: 2/3;
	align-self: center;
	justify-self: center;
}

main .carrinho .divisoria {
	background-color: #4775ec;
	height: 1px;
	grid-column: 1/5;
	grid-row: 3/3;
	width: 100%;
	justify-self: center;
}

main .carrinho .fotoproduto {
	grid-row: 3/4;
	grid-column: 1/2;
	justify-self: center;
	align-self: center;
}

main .carrinho .fotoproduto img {
	width: 12rem;
	height: 12rem;
}

main .carrinho .card-info-produto {
	color: rgba(0, 0, 0, 0.51);
	font-size: 2.4rem;
	grid-row: 3/4;
	grid-column: 2/3;
	font-size: 1.8rem;
	text-align: center;
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 85%;
}

main .carrinho .card-info-produto p {
	color: #a5a5a5;
	font-size: 1.4rem;
}

main .carrinho .card-info-preco {
	background-color: #fff;
	grid-row: 3/4;
	grid-column: 3/4;
	align-self: center;
	align-self: center;
	justify-self: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
	font-size: 2.2rem;
}

main .carrinho .card-info-preco img {
	width: 25%;
	height: 25%;
}

main .carrinho .precoproduto {
	grid-row: 3/4;
	grid-column: 4/5;
	align-self: center;
	justify-self: center;
}

main .carrinho .card-calc-frente {
	grid-row: 4/5;
	grid-column: 1/5;
}

main .carrinho .card-calc-frente h3 {
	margin: 1rem 0 0.4rem 1.4rem;
	font-size: 1.5rem;
}

main .carrinho .card-calc-frente input {
	padding-left: 1.5rem;
	font-family: "Denk One", sans-serif;
	font-size: 1.6rem;
	border-radius: 30px;
	border: 1px solid rgba(0, 0, 0, 0.51);
	height: 3rem;
	color: #656989;
}

main .carrinho .card-calc-frente button {
	font-family: "Denk One", sans-serif;
	font-size: 1.6rem;
	color: #fff;
	background-color: #368dd6;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	margin-left: 10px;
	padding: 0.5rem 2rem;
}

main .carrinho .card-pagamento {
	background-color: #fff;
	font-size: 2rem;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: rgba(0, 0, 0, 0.51);
}

main .carrinho .card-pagamento h3 {
	font-size: 2.4rem;
	text-align: center;
	margin-top: 2rem;
}

main .carrinho .card-pagamento .divcarrinho {
	background-color: #4775ec;
	height: 1px;
	width: 25%;
	align-self: center;
	margin-top: 0.8rem;
}

main .carrinho .card-info-1 {
	display: flex;
	justify-content: space-between;
	margin: 4rem 2rem 0.5rem 2rem;
}

main .carrinho .card-info-2 {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 2rem 2rem 2rem;
}

main .carrinho .card-pagamento .divfrete {
	background-color: #4775ec;
	height: 1px;
	width: 85%;
	align-self: center;
	margin-top: 1rem;
}

main .carrinho .card-total {
	display: flex;
	justify-content: space-between;
	margin: 2rem 2rem 1rem 2rem;
}

main .carrinho .card-pagamento .divtotal {
	background-color: #4775ec;
	height: 1px;
	width: 85%;
	align-self: center;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

main .carrinho .card-total span {
	float: left;
}

main .carrinho button.card-btn {
	display: flex;
	padding: 1rem 4rem;
	justify-content: center;
	align-items: center;
	background-color: #4775ec;
	color: #fff;
	border: none;
	font-size: 2.4rem;
	cursor: pointer;
	font-family: "Denk One", sans-serif;
	margin: 1rem 8rem 4rem 8rem;
	border-radius: 50px;
}

/* PÁGINA DE CHAT */
main content {
	display: flex;
	justify-content: space-between;
	color: #656989;
	height: 77.5vh;
	align-items: stretch;
}

content .matches {
	display: flex;
	flex-direction: column;
	width: 30%;
}

content .matches .cabecalho {
	display: flex;
	justify-content: space-around;
	border: 1px solid #368dd6;
	border-right: none;
	height: 11.5rem;
	align-items: center;
}

content .matches .cabecalho h2 {
	border-left: 1px solid #368dd6;
	width: 100%;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	font-size: 2rem;
	transition: 1s;
	height: 100%;
}

content .matches .cabecalho h2:hover {
	background-color: #8b8b8b;
}

content .matches .cabecalho h3 {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	padding: 10px;
	cursor: pointer;
	transition: 1s;
	height: 100%;
}

content .matches .cabecalho h3:hover {
	background-color: #8b8b8b;
}

content .matches .conversas {
	display: flex;
	flex-direction: column;
	overflow: auto;
}

content .matches .conversas .contato {
	display: flex;
	border: 1px solid #368dd6;
	border-top: 0;
	border-right: 0;
	padding: 10px 0;
	cursor: pointer;
	transition: 1s;
}

content .matches .conversas .contato:hover {
	background-color: #8b8b8b;
}

content .matches .conversas .contato .imgcontato {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90px;
	height: 90px;
	margin-right: 10px;
}

content .matches .conversas .contato img {
	width: 100%;
	margin: 0 5rem;
}

content .matches .conversas .contato .titulocontato h2 {
	font-size: 1.6rem;
}

content .matches .conversas .contato .preconversa {
	font-size: 1.4rem;
	padding: 15px 15px 15px 0px;
}

content .chatprincipal {
	height: 100%;
	width: 50%;
	border: 1px solid #368dd6;
	height: 100%;
}

content .chatprincipal .secao h2 {
	text-align: center;
	border-bottom: 1px solid #368dd6;
	padding: 10px;
	font-size: 2.4rem;
}

content .chatprincipal .conversaprincipal {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.1fr 2fr 0.1fr 0.1fr;
}

content .chatprincipal .conversaprincipal .cabecalho {
	display: flex;
	background-color: rgb(136, 175, 219);
	color: white;
	align-items: center;
	grid-column: 1/2;
	grid-row: 1/2;
}

content .chatprincipal .conversaprincipal .cabecalho .leftarrow img {
	margin-left: 2rem;
	cursor: pointer;
	width: 55%;
	height: 55%;
}

content .chatprincipal .conversaprincipal .cabecalho .userimg img {
	width: 47%;
	height: 47%;
	margin-left: 2rem;
}

content .chatprincipal .conversaprincipal .cabecalho .nomeusuario {
	text-align: center;
	width: 100%;
	align-self: center;
	justify-content: center;
	font-size: 2.4rem;
	text-align: center;
	padding-right: 10rem;
}

/* ARRUMEI ALTURA PELO MEDIA QUERY */
content .chatprincipal .conversaprincipal .conversaatual {
	height: 56.5vh;
	overflow: auto;
	grid-column: 1/2;
	grid-row: 2/3;
}

content .chatprincipal .conversaprincipal .conversaatual .conversa {
	display: flex;
	flex-direction: column;
	padding: 0px 20px;
	margin: 0;
	font-size: 1.4rem;
}

content .chatprincipal .conversaprincipal .conversaatual .cliente {
	background-color: #98abdc;
	color: white;
	padding: 10px;
	border-radius: 20px;
	align-self: flex-end;
	text-align: right;
	max-width: 80%;
	margin: 7.5px 0;
}

content .chatprincipal .conversaprincipal .conversaatual .usuario {
	background-color: #4775ec;
	color: white;
	padding: 10px 20px;
	border-radius: 20px;
	align-self: flex-start;
	text-align: left;
	max-width: 80%;
	margin: 7.5px 0;
}

content .chatprincipal .conversaprincipal .digitando {
	margin: 10px 0;
	padding-left: 35px;
	font-size: 1.4rem;
}

content .chatprincipal .conversaprincipal .mensagem {
	margin: 5px 20px;
}

content .chatprincipal .conversaprincipal .mensagem form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

content .chatprincipal .conversaprincipal .mensagem input {
	border-radius: 20px;
	border: 1px solid #c4c4c4;
	font-size: 1.4rem;
	font-family: "Denk One", sans-serif;
	height: 3.5rem;
	width: 90%;
	padding-left: 1.5rem;
}

content .chatprincipal .conversaprincipal .mensagem button {
	border: none;
	background-color: none;
	color: none;
	padding: 0;
	width: 7.5%;
	height: 80%;
}

content .chatprincipal .conversaprincipal .mensagem button img {
	padding: 0;
	cursor: pointer;
	width: 70%;
	height: 70%;
}

content .dados {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

content .dados .imgvendedor {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

content .dados .imgvendedor img {
	width: 55%;
	height: 90%;
}

content .dados .titulo {
	margin: 10px;
	text-align: center;
	font-size: 1.2rem;
}

content .dados .info {
	background-color: #c4c4c4;
	color: #656989;
	width: 85%;
	align-self: center;
	border-radius: 20px;
	padding: 20px;
	font-size: 1.2rem;
}

content .dados .info .nome {
	margin-bottom: 15px;
}

content .dados .info .descricao {
	margin: 15px 0;
}

content .dados .info .reputacao {
	margin: 15px 0;
	display: flex;
	background-color: #ebebeb;
	border-radius: 20px;
	padding: 10px;
	align-items: center;
	justify-content: flex-start;
}

content .dados .info .reputacao h2 {
	font-size: 1.6rem;
	margin-right: 1rem;
}

content .dados .info .reputacao span {
	font-size: 1.2rem;
	margin-right: 0px;
}

content .dados .info .detalhes button {
	border: none;
	background-color: #4775ec;
	color: white;
	padding: 10px 15px;
	width: 100%;
	border-radius: 20px;
	font-family: "Denk One", sans-serif;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 1s;
}

content .dados .info .detalhes button:hover {
	background-color: white;
	color: #4775ec;
}

/* PÁGINA DE EDIÇÃO DE PERFIL */

main.edicao-principal {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.edicao-perfil {
	background-color: white;
	padding: 3.5%;
	border-radius: 50px;
	justify-content: center;
	align-items: center;
	margin: 4rem 0;
	width: 60%;
	-webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
}

.edicao-perfil form {
	display: grid;
	align-items: center;
	grid-template-columns: 0.7fr 0.7fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
}

.edicao-perfil .upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	grid-column: 1/2;
	grid-row: 1/3;
	width: 100%;
	margin-bottom: 0.5rem;
}

.edicao-perfil .upload img {
	width: 50%;
	height: 50%;
	margin-bottom: 1.5rem;
}

.edicao-perfil .upload input {
	font-size: 1.4rem;
}

.edicao-perfil .campo {
	display: flex;
	flex-direction: column;
	margin: 1rem 3rem;
}

.edicao-perfil form label {
	margin-bottom: 1rem;
	font-size: 2rem;
	color: #656989;
}

.edicao-perfil form .campo input {
	font-size: 2rem;
	border-radius: 10px;
	border: 1px #a5a5a5 solid;
	padding: 1rem 1rem;
	font-size: 1.6rem;
	color: #656989;
	font-family: "Denk One", sans-serif;
}

.edicao-perfil .novidades {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.edicao-perfil .novidades p {
	font-size: 1.4rem;
	text-align: left;
	color: #656989;
	width: 60%;
}

.edicao-perfil form .submit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.edicao-perfil form .submit button {
	background-color: #4775ec;
	font-family: "Denk One", sans-serif;
	padding: 1rem 5rem;
	border-radius: 10rem;
	border: none;
	color: white;
	justify-self: center;
	font-size: 2rem;
}

/* PÁGINA HOME */

main .carroselprincipal {
	display: flex;
	justify-content: center;
}

main .carroselprincipal img {
	margin: 25px 0;
	width: 90%;
	height: 100%;
}

main .categorias {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main .categorias h1 {
	color: #656989;
	text-align: center;
	font-size: 4.2rem;
	margin: 15px 0;
}

main .categorias .divisaocat {
	background-color: #4775ec;
	width: 100px;
	height: 1px;
}

main .categorias .imagenscategorias {
	display: grid;
	width: 90%;
	height: 45rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 5px;
	margin: 20px 0;
}

main .categorias .imagenscategorias a {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	text-decoration: none;
	color: white;
	font-size: 2rem;
}

main .categorias .imagenscategorias .imagem1 {
	background-image: url("../images/home-images/grid1.png");
	grid-row: 1/6;
	background-size: cover;
	background-repeat: no-repeat;
}

main .categorias .imagenscategorias .imagem2 {
	background-image: url("../images/home-images/grid2.png");
	grid-row: 1/4;
	background-size: cover;
	background-repeat: no-repeat;
}

main .categorias .imagenscategorias .imagem3 {
	background-image: url("../images/home-images/grid3.png");
	grid-row: 1/3;
	background-size: cover;
	background-repeat: no-repeat;
}

main .categorias .imagenscategorias .imagem4 {
	background-image: url("../images/home-images/grid4.png");
	grid-row: 1/4;
	background-size: cover;
	background-repeat: no-repeat;
}

main .categorias .imagenscategorias .imagem5 {
	background-image: url("../images/home-images/grid5.png");
	grid-row: 4/6;
	background-size: cover;
	background-repeat: no-repeat;
}

main .categorias .imagenscategorias .imagem6 {
	background-image: url("../images/home-images/grid6.png");
	grid-row: 3/6;
	background-size: cover;
	background-repeat: no-repeat;
}

main .categorias .imagenscategorias .imagem7 {
	background-image: url("../images/home-images/grid7.png");
	grid-row: 4/6;
	background-size: cover;
	background-repeat: no-repeat;
}

main .produtosrecentes {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

main .produtosrecentes .divisaoprodrec {
	background-color: #4775ec;
	width: 200px;
	height: 1px;
}

main .produtosrecentes h1 {
	color: #656989;
	font-size: 4.2rem;
	margin: 15px 0;
}

main .produtosrecentes .imagensprodutos {
	display: grid;
	width: 90rem;
	height: 65rem;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 25px 50px;
	margin: 40px 0;
}

main .produtosrecentes .imagensprodutos .imgrecente1 {
	background-color: white;
	background-image: url("../images/home-images/canequinha.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	border: 1px solid #656989;
	border-radius: 20px;
}

main .produtosrecentes .imagensprodutos .imgrecente2 {
	background-color: white;
	background-image: url("../images/home-images/canequinha.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	border: 1px solid #656989;
	border-radius: 20px;
}

main .produtosrecentes .imagensprodutos .imgrecente3 {
	background-color: white;
	background-image: url("../images/home-images/canequinha.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	border: 1px solid #656989;
	border-radius: 20px;
}

main .produtosrecentes .imagensprodutos .imgrecente4 {
	background-color: white;
	background-image: url("../images/home-images/canequinha.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	border: 1px solid #656989;
	border-radius: 20px;
}

main .produtosrecentes .imagensprodutos .imgrecente5 {
	background-color: white;
	background-image: url("../images/home-images/canequinha.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	border: 1px solid #656989;
	border-radius: 20px;
}

main .produtosrecentes .imagensprodutos .imgrecente6 {
	background-color: white;
	background-image: url("../images/home-images/canequinha.png");
	background-size: 90%;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: end;
	text-align: center;
	border: 1px solid #656989;
	border-radius: 20px;
}

main .produtosrecentes .imagensprodutos .subtituloimg {
	background-color: rgb(241, 241, 241);
	padding: 15px 0;
	border-radius: 20px;
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

main .produtosrecentes .imagensprodutos .subtituloimg p {
	margin: 5px 0;
}

/* PÁGINA DE LOGIN */

main .login {
	display: flex;
	justify-content: center;
	align-items: center;
}

main .login .container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	flex-direction: column;
	width: 30%;
	height: 100%;
	margin: 5rem 0;
	border-radius: 50px;
	font-size: 2rem;
	color: #656989;
	-webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
}

main .login .container h3 {
	font-size: 3rem;
	margin: 3rem 0 4rem 0;
	margin-bottom: 4rem;
}

main .login .container .formlogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main .login .container .formlogin input {
	width: 100%;
	border-radius: 30px;
	border: 1px #a5a5a5 solid;
	padding: 1rem 2rem;
	font-size: 1.6rem;
	color: #656989;
	font-family: "Denk One", sans-serif;
	margin-bottom: 1rem;
}

main .login .container .formlogin button {
	margin-top: 1rem;
	text-align: center;
	font-family: "Denk One", sans-serif;
	width: 15rem;
	background-color: #4775ec;
	font-size: 2rem;
	border: none;
	border-radius: 50px;
	color: white;
	padding: 0.7rem 0;
	margin: 4rem 0;
	cursor: pointer;
}

main .login .container .recuperacao {
	margin-bottom: 4rem;
}

main .login .container .recuperacao a {
	color: #656989;
	font-size: 1.4rem;
}

/* PÁGINA DE PAGAMENTO */

main .separar {
	display: flex;
	justify-content: center;
	margin: 5% 0;
}

main .wrapperboxbranco {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.1fr 0.8fr 0.1fr;
	width: 80%;
	background-color: white;
	border-radius: 50px;
	column-gap: 2rem;
}

main .wrapperboxbranco .titulo {
	grid-column: 1/3;
	grid-row: 1/2;
	font-size: 4rem;
	color: #656989;
	display: flex;
	text-align: center;
	align-items: center;
	width: 100%;
	justify-content: center;
}

main .wrapperboxbranco .titulo div {
	width: 100%;
	margin: 3rem 0 5rem 0;
}

main .wrapperboxbranco .container1 {
	grid-column: 1/2;
	grid-row: 2/3;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: center;
	align-items: center;
}

main .wrapperboxbranco .container1 h2 {
	color: #656989;
	font-size: 2rem;
}

main .wrapperboxbranco .container1 .imgcartoescredito {
	margin: 2rem 0;
}

main .wrapperboxbranco .container1 .imgcartoescredito img {
	width: 7rem;
	height: 7rem;
	margin: 0 1.5rem;
}

main .wrapperboxbranco .container1 form.dadosbancarios {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	color: #656989;
	margin-bottom: 5rem;
	width: 75%;
}

main .wrapperboxbranco .container1 form.dadosbancarios div {
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

main .wrapperboxbranco .container1 form.dadosbancarios label {
	font-size: 1.5rem;
}

main .wrapperboxbranco .container1 form.dadosbancarios input {
	width: 50%;
	font-family: "Denk One", sans-serif;
	color: #656989;
	padding: 2px 12px;
	border-radius: 30px;
	border: 1px solid;
}

main .wrapperboxbranco .container2 {
	grid-column: 2/3;
	grid-row: 2/3;
	display: flex;
	width: 100%;
	flex-direction: column;
	text-align: center;
	justify-content: flex-start;
}

main .wrapperboxbranco .container2 h2 {
	color: #656989;
	font-size: 2.4rem;
}

main .wrapperboxbranco .container2 img {
	justify-content: left;
	width: 50px;
	height: 50px;
}

main .wrapperboxbranco .container2 .boleto {
	margin-bottom: 3rem;
	display: flex;
	flex-direction: column;
}

main .wrapperboxbranco .container2 .divboleto {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .wrapperboxbranco .container2 .divboleto img {
	justify-content: left;
	width: 100px;
	height: 100px;
}

main .wrapperboxbranco .container2 .debito {
	display: flex;
	flex-direction: column;
}

main .wrapperboxbranco .container2 .debito h2 {
	margin-bottom: 3rem;
}

main .wrapperboxbranco .container2 .bancos {
	display: flex;
	justify-content: space-around;
}

main .wrapperboxbranco .container2 .bancos div {
	display: flex;
	align-items: center;
	justify-content: center;
}

main .wrapperboxbranco .container2 .bancos div img {
	margin-right: 2rem;
}

main .wrapperboxbranco .confirmar {
	grid-column: 1/3;
	grid-row: 3/4;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .wrapperboxbranco .confirmar button {
	width: 15%;
	height: 5rem;
	margin-bottom: 4rem;
	font-family: "Denk One", sans-serif;
	color: white;
	background-color: #4775ec;
	font-size: 2rem;
	border: none;
	border-radius: 50px;
}

/* PÁGINA DE COMPRAS */

main .comprar {
	display: flex;
	font-size: 2rem;
}

main .comprar .card-menu {
	display: flex;
	flex-direction: column;
}

main .comprar .card-menu .cabecalho {
	display: flex;
	font-size: 2rem;
	border: 1px solid #656989;
	justify-content: center;
	border-left: 0;
	border-top: 0;
}
main .comprar .card-menu .cabecalho h2 {
	width: 100%;
	text-align: center;
}

main .comprar .card-menu .cabecalho h3 {
	width: 100%;
	text-align: center;
	font-size: 3rem;
	border-left: 1px solid #656989;
}

main .comprar .card-menu .opcoesprodutos {
	display: grid;
	grid-template-columns: 0.8fr 0.8fr 0.8fr;
	grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
	overflow: auto;
	height: 45rem;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #656989;
}

main .comprar .card-menu .opcoesprodutos .cardproduto img {
	width: 100%;
}

main .comprar .card-menu .opcoesprodutos .cardproduto p {
	text-align: center;
	font-size: 1.6rem;
}

main .comprar .produtoescolhido {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .comprar .produtoescolhido .produto-principal {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

main .comprar .produtoescolhido .produto-principal img {
	width: 5%;
}

main .comprar .produtoescolhido .produto-principal img.produtosimagens {
	width: 30%;
}

main .comprar .produtoescolhido .escolher {
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}

main .comprar .produtoescolhido .escolher img {
	width: 10%;
}

main .comprar .produtoescolhido .descricao {
	font-size: 1.5rem;
	padding: 2.5% 7.5%;
}

main .comprar .produtoescolhido .descricao h2 {
	margin-bottom: 1rem;
}

/* PÁGINA DE CADASTRADO COM SUCESSO */

main .cadastrosucesso {
	display: flex;
	justify-content: center;
	align-items: center;
}

main .cadastrosucesso .container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: 5rem 0;
	border-radius: 50px;
	font-size: 2rem;
	color: #656989;
	-webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	text-align: center;
}

main .cadastrosucesso .container h3 {
	font-size: 3rem;
	margin: 3rem 0 1rem 0;
}

main .cadastrosucesso .container div {
	margin: 4rem 0;
}

main .cadastrosucesso .container a {
	text-align: center;
	font-family: "Denk One", sans-serif;
	background-color: #4775ec;
	font-size: 2rem;
	border: none;
	border-radius: 50px;
	color: white;
	padding: 1.2rem 15rem;
	text-decoration: none;
}

/* PAGINA CONTATO */

main.contato .contato {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main.contato .contato .contatowrapper {
	width: 500px;
	height: 600px;
	margin: 200px;
	background-color: white;
	display: flex;
	border-radius: 30px;
	-webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
}

main.contato .contato .contatowrapper .contatocontainer {
	padding: 50px;
	color: #656989;
	font-size: 20px;
	text-align: center;
}

main.contato .contato .contatowrapper .contatocontainer .contatotitulo .titulo {
	text-align: center;
	font-size: 40px;
}

main.contato .contato .contatowrapper .contatocontainer .whatsapp img {
	width: 50px;
	height: 50px;
}

main.contato .contato .contatowrapper .contatocontainer .linkchat {
	border: cornflowerblue solid 2px;
	border-radius: 20px;
	width: 200px;
	height: auto;
	background-color: cornflowerblue;
	text-align: center;
	padding: 10px;
	margin-left: 80px;
	margin-top: 60px;
}

main.contato .contato .contatowrapper .contatocontainer .linkchat .botao {
	text-decoration: none;
	color: white;
}

/* PAGINA RECUPERE A SUA SENHA */

main .solicitacaosenha {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .solicitacaosenha .wrapperbox {
	width: 1000px;
	height: 500px;
	margin: 100px 200px;
	background-color: white;
	display: flex;
	border-radius: 30px;
	-webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
	box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
}

main .solicitacaosenha .wrapperbox .containeritens {
	padding: 50px;
	color: #656989;
	font-size: 20px;
	text-align: center;
}

main .solicitacaosenha .wrapperbox .containeritens .titulo .titulo2 {
	font-size: 40px;
	text-align: center;
}

main .solicitacaosenha .wrapperbox .containeritens .paragrafo {
	margin: 40px;
}

main .solicitacaosenha .wrapperbox .containeritens .botoes {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 30px;
}

main .solicitacaosenha .wrapperbox .botoes .linkchat {
	border: cornflowerblue solid 2px;
	border-radius: 20px;
	width: 200px;
	height: auto;
	background-color: cornflowerblue;
	text-align: center;
	padding: 10px;
	margin-left: 80px;
	margin-top: 60px;
}

main .solicitacaosenha .wrapperbox .botoes .linkchat2 {
	border: cornflowerblue solid 2px;
	border-radius: 20px;
	width: 200px;
	height: auto;
	background-color: cornflowerblue;
	text-align: center;
	padding: 10px;
	margin-left: 80px;
	margin-top: 60px;
}

main .solicitacaosenha .wrapperbox .botoes .linkchat .botao {
	text-align: center;
	text-decoration: none;
	color: white;
}

main .solicitacaosenha .wrapperbox .botoes .linkchat2 .botao2 {
	text-align: center;
	text-decoration: none;
	color: white;
}

/* PAGINA TROCA DE SENHA*/

main .recuperar {

	display: flex;
	align-items: center;
	justify-content: center;
}


main .recuperar .wrapper-box {

    width: 500px;
    height: 500px;
    margin: 200px;
    background-color: white;
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4);
    box-shadow: 0px 5px 20px 5px rgba(122, 122, 122, 0.4)
	
	
}

main .recuperar .wrapper-box .container-itens {

    display: flex;
    justify-content: center;
    
}

main .recuperar .wrapper-box .container-itens .titulorec h2 {
    color: #656989;
    text-align: center;
    margin: 50px;
    font-size: 40px;
}

main .recuperar .wrapper-box .container-itens .formulariorec {

    align-items: center;
   
  
}

main .recuperar .wrapper-box .container-itens .formulariorec input {

    width: 200px;
    height: auto;
    align-items: center;
    border-radius: 20px;
    border: solid cornflowerblue 2px;
    margin: 20px;
    
}
    


main .recuperar .wrapper-box .container-itens .formulariorec label {

    font-size: 20px;
    color: #656989;
   
}
main .recuperar .wrapperbox .containeritens .botao-confirmar {

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 30px;
 }

 main  .confirmar {

    border: cornflowerblue solid 2px;
    border-radius: 20px ;
    width: 200px;
    height: auto;
    background-color:cornflowerblue;
    text-align: center;
    padding: 10px;
    margin-left: 80px;
    margin-top: 50px;

 }
 main .botaoconf{

    text-align: center;
    text-decoration: none;
    color:white;
    font-size: 20px;
 }

/* FOOTER */

footer {
	color: white;
	width: 100%;
	height: 20vh;
	background-color: #4775ec;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer .logo {
	margin-left: 5%;
}

footer .logo h1 {
	font-size: 3.2rem;
}

footer .direitos {
	display: flex;
	align-items: flex-end;
	height: 100%;
}

footer .direitos p {
	font-size: 1.4rem;
	color: #c4c4c4;
	margin-bottom: 0.5rem;
	text-align: center;
}

footer .social {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5%;
}

footer .social p {
	font-size: 2rem;
	text-align: center;
	width: 100%;
	margin-bottom: 2rem;
}

footer .social .socialicons {
	display: flex;
	justify-content: space-evenly;
}

footer img {
	width: 40px;
	height: 40px;
	margin: 0 15px;
}
