<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoppMatch - Contato</title>
</head>

<body>

</body>

</html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Denk+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/home-style.css">
    <title>ShoppMatch - Home</title>
</head>

<main>
    <div class="wrapper">
        <div class="container">
            <h2>Contato</h2>
            <p> <strong>E-mail:</strong> shoppmatch@shoppmatch.com.br</p>
            <p> <strong>SAC: </strong> (11)0800-3235 </p>
            <p> Whatsapp </p>
            <a class="whatsapp" href="#"><img src="./imagens/whatsapp .png" alt="whatsapp" /></a>
            <div class="linkchat">
                <a href="#"> Iniciar Chat </a>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class='social'>
        <p>Siga nas redes socias:</p>
        <div class='socialicons'>
            <a href="https://www.instagram.com"><img src="../images/icons/instagram.png" alt="instagram" /></a>
            <a href="https://www.facebook.com"><img src="../images/icons/facebook.png" alt="facebook" /></a>
            <a href="https://www.youtube.com"><img src="../images/icons/youtube.png" alt="youtube" /></a>
        </div>
    </div>
</footer>
</body>